IT Ticket Automation.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Abertura de chamado",
        "formDescription": "Utilize este formulário para registrar solicitações, incidentes ou dúvidas relacionadas à área de TI. Preencha as informações com o máximo de detalhes possível para agilizar o atendimento.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome",
              "placeholder": "Informe seu nome",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Tipo de chamado",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Incidente"
                  },
                  {
                    "option": "Requisição"
                  },
                  {
                    "option": "Acesso"
                  },
                  {
                    "option": "Dúvida"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Descrição do chamado",
              "fieldType": "textarea",
              "placeholder": "Informe o problema",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Abrir chamado",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Seu chamado foi aberto!"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -448,
        -32
      ],
      "id": "272d747a-ae23-4f24-906b-9e328d318999",
      "name": "On form submission",
      "webhookId": "faef12f9-5b5c-40fc-a12f-5b131a4d6237"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53b16711-6757-47e9-aede-c9f615d1352a",
              "name": "ticket_id",
              "value": "=T{{ $now.format('yyMMdd') + Math.floor(Math.random() * 1000).toString().padStart(3, '0') }}",
              "type": "string"
            },
            {
              "id": "cf55c330-e552-4c51-8e0b-aab21a84809e",
              "name": "nome_cliente",
              "value": "={{ $('On form submission').item.json.Nome }}",
              "type": "string"
            },
            {
              "id": "7daa2d6e-ab38-4ddf-be4d-b9f7cba7025b",
              "name": "email_cliente",
              "value": "={{ $('On form submission').item.json['E-mail'] }}",
              "type": "string"
            },
            {
              "id": "7d82c274-aba3-4c55-9047-6e60129cede3",
              "name": "tipo_chamado",
              "value": "={{ $('On form submission').item.json['Tipo de chamado'] }}",
              "type": "string"
            },
            {
              "id": "8d36e6f0-aa6c-4733-bafb-3ed3920aa81d",
              "name": "descricao_chamado",
              "value": "={{ $('On form submission').item.json['Descrição do chamado'] }}",
              "type": "string"
            },
            {
              "id": "2dbad1b7-1602-48b9-b43c-0344cff2d1d7",
              "name": "data",
              "value": "={{$now.format(\"dd/MM/yyyy\")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -32
      ],
      "id": "aadfc153-99c7-4006-9f52-9969b97c821f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rC-3V3xP41dk6N5m4f0AsgL-2F3mKqHlFRT5lI29By4",
          "mode": "list",
          "cachedResultName": "ChamadosTI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rC-3V3xP41dk6N5m4f0AsgL-2F3mKqHlFRT5lI29By4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Chamados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rC-3V3xP41dk6N5m4f0AsgL-2F3mKqHlFRT5lI29By4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{ $('Edit Fields').item.json.ticket_id }}",
            "Nome": "={{ $('Edit Fields').item.json.nome_cliente }}",
            "Data": "={{ $('Edit Fields').item.json.data }}",
            "Email": "={{ $('Edit Fields').item.json.email_cliente }}",
            "Tipo": "={{ $('Edit Fields').item.json.tipo_chamado }}",
            "Criticidade": "={{ $json.criticidade_chamado }}",
            "Categoria": "={{ $json.categoria_chamado }}",
            "Descrição": "={{ $('Edit Fields').item.json.descricao_chamado }}",
            "Status": "Aberto",
            "Prazo": "={{ $json.prazo_estimado }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criticidade",
              "displayName": "Criticidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descrição",
              "displayName": "Descrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prazo",
              "displayName": "Prazo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        -32
      ],
      "id": "24d5235c-9d47-463a-b98c-ef4c63a3dddc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n0qEaDg6oplovGct",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.email_cliente }}",
        "subject": "=Ticket {{ $('Edit Fields').item.json.ticket_id }}",
        "message": "=<h1>Olá, {{ $('Edit Fields').item.json.nome_cliente }}!</h1>\n<p>Recebemos sua solicitação com sucesso.</p>\n<div style=\"background: #f4f4f4; padding: 10px;\">\n   <strong>Número do seu Ticket:</strong> {{ $('Edit Fields').item.json.ticket_id }}\n</div>\n<p>Nossa equipe entrará em contato em breve.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        336,
        -192
      ],
      "id": "a08d30b6-d360-4787-b7c8-4785d45dd087",
      "name": "Send a message",
      "webhookId": "fc12c141-1bf1-4eb4-9f90-4efdf39cb01e",
      "credentials": {
        "gmailOAuth2": {
          "id": "YuTGlN7AnCyST74E",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Abertura de Ticket",
        "height": 224,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        -96
      ],
      "typeVersion": 1,
      "id": "0116990a-afe6-47c9-9287-a92a7251c1ad",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Você é um analista de suporte de TI.\n\nAnalise o chamado abaixo.\n\nTipo:\n{{ $json.tipo_chamado }}\n\nDescrição:\n{{ $json.descricao_chamado }}\n\nRetorne SOMENTE em JSON:\n\n{\n  \"categoria_chamado\": \"\",\n  \"criticidade_chamado\": \"\",\n  \"prazo_estimado\": \"\"\n}\n\nRegras:\n- Problemas em servidor, rede corporativa ou sistema parado = Crítica\n- Problemas afetando vários usuários = Alta\n- Problemas simples individuais = Baixa\n- Criticidade e prazo:Baixa\t72h, Média\t24h, Alta\t4h, Crítica\t1h\n- Criticidade apenas: Baixa, Média, Alta e Crítica"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -16,
        -32
      ],
      "id": "76831432-679e-4744-ad47-a17fb7ad04a9",
      "name": "Message a model",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output[0].content[0].text;\n\nconst cleaned = raw\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nreturn [\n  {\n    json: JSON.parse(cleaned)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -32
      ],
      "id": "cf5cea0c-085f-4744-aefe-e370f96fb195",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23d5f7d48a67370d6d6c9262de830a5d003633cca8e156735d57debdb99a51e7"
  }
}
