IT Ticket Automation.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Receber chamado",
        "formDescription": "Utilize este formulário para registrar solicitações, incidentes ou dúvidas relacionadas à área de TI. Preencha as informações com o máximo de detalhes possível para agilizar o atendimento.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome",
              "placeholder": "Informe seu nome",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Tipo de chamado",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Incidente"
                  },
                  {
                    "option": "Requisição"
                  },
                  {
                    "option": "Acesso"
                  },
                  {
                    "option": "Dúvida"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Criticidade",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Baixa"
                  },
                  {
                    "option": "Média"
                  },
                  {
                    "option": "Alta"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Categoria",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sistema"
                  },
                  {
                    "option": "Redes"
                  },
                  {
                    "option": "Servidores"
                  },
                  {
                    "option": "Acesso"
                  },
                  {
                    "option": "Outros"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Descrição do chamado",
              "fieldType": "textarea",
              "placeholder": "Informe o problema",
              "requiredField": true
            },
            {
              "fieldLabel": "Anexos",
              "fieldType": "file"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Abrir chamado",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Seu chamado foi aberto!"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        16,
        96
      ],
      "id": "445a70aa-d89d-49e2-b974-6ab21e3372af",
      "name": "On form submission",
      "webhookId": "e6f9ad2b-3f63-4469-9293-123f757ba6e4"
    },
    {
      "parameters": {
        "content": "## Abertura de Ticket",
        "height": 224,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        32
      ],
      "typeVersion": 1,
      "id": "df0523e1-2dc0-4ab2-ae47-87f9c73e4305",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53b16711-6757-47e9-aede-c9f615d1352a",
              "name": "ticket_id",
              "value": "=T{{ $now.format(' yy MM ') }}{{ ($itemIndex + 1).toString().padStart(4, '0') }}",
              "type": "string"
            },
            {
              "id": "cf55c330-e552-4c51-8e0b-aab21a84809e",
              "name": "nome_cliente",
              "value": "={{ $json.Nome }}",
              "type": "string"
            },
            {
              "id": "7daa2d6e-ab38-4ddf-be4d-b9f7cba7025b",
              "name": "email_cliente",
              "value": "={{ $json['E-mail'] }}",
              "type": "string"
            },
            {
              "id": "7d82c274-aba3-4c55-9047-6e60129cede3",
              "name": "tipo_chamado",
              "value": "={{ $json['Tipo de chamado'] }}",
              "type": "string"
            },
            {
              "id": "95cfea45-a2fe-4c05-b99d-98f581207340",
              "name": "criticidade_chamado",
              "value": "={{ $json.Criticidade }}",
              "type": "string"
            },
            {
              "id": "c2414132-a101-49fe-9a20-bbfd71c7233e",
              "name": "categoria_chamado",
              "value": "={{ $json.Categoria }}",
              "type": "string"
            },
            {
              "id": "8d36e6f0-aa6c-4733-bafb-3ed3920aa81d",
              "name": "descricao_chamado",
              "value": "={{ $json['Descrição do chamado'] }}",
              "type": "string"
            },
            {
              "id": "3b79ff30-fc02-414f-8158-32681b8063ce",
              "name": "anexos_chamados",
              "value": "={{ $json.Anexos }}",
              "type": "string"
            },
            {
              "id": "2dbad1b7-1602-48b9-b43c-0344cff2d1d7",
              "name": "data",
              "value": "={{$now.format(\"dd/MM/yyyy\")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        96
      ],
      "id": "d0223f65-4430-4fa0-b5ac-5a11935b0d1f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        496,
        96
      ],
      "id": "62ea42a3-2880-4c8a-b63e-60ed112698d5",
      "name": "Create a database page"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea45a93c74e7627e75b0a0b01e1a4d93e33e120c3a584a9d36107e9cad6743d5"
  }
}
